jose-dev:
  aliasDesc: "Development Server."
  aliasType: ssh
  bulkSshArgs: -2C
  sshUser: root
  sshHostname: 10.0.1.1
jose-test:
  aliasDesc: 
  aliasType: ssh
  bulkSshArgs: -2C
  sshUser: root
  sshHostname: jose-test.lab.lcl
